.container1 {
	display: flex;
	flex-direction:row;

}

.container1 .sidebar {
    background-color:#242424;
    height:100vh;
    width:90px;
    z-index:10;
    text-align:center;

}

.sidebar li:nth-child(1){
    padding:30px 0px;
}
.products {

	padding-left: 5em;
}


.products img {
    width: 200px;
    padding-right: 1em;
}

.eachproduct {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid gray;
    text-align: left;
    margin: 2px;
    align-items: stretch;
    overflow: hidden;

}

.buttons{
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
}

.details {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.details:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.details:active {
	position:relative;
	top:1px;
}

.buy {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.buy:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.buy:active {
	position:relative;
	top:1px;
}




