.products {

	padding-left: 5em;
}


.products img {
    width: 200px;
    padding-right: 1em;
}

.eachproduct {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid gray;
    text-align: left;
    margin: 2px;
    align-items: stretch;
    overflow: hidden;

}

.buttons{
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
}

.details {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.details:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.details:active {
	position:relative;
	top:1px;
}

.add {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.add:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.add:active {
	position:relative;
	top:1px;
}

.categories {
	margin: 30px;
	
}

.filtercontainer {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	
}

.slider {
	display: flex;
	align-items: center;

}

.slider p {
	font-size: 26px;
	font-weight: 600;
	font-family: Open Sans;
	padding-left: 30px;color: rgb(233, 231, 231);
}

.slider input[type="range"] {
	-webkit-appearance:none !important;
	width: 420px;height: 2px;
	background: rgb(145, 144, 144);
	border: none;
	outline: none;

}

.slider input[type="range"]::-webkit-slider-thumb {
	
	-webkit-appearance: none !important;
	width: 30px;
	height:30px;
	background: rgb(211, 211, 211);
	border: 2px solid rgb(221, 220, 220);
	border-radius: 50%;
	cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
	background: rgb(199, 199, 199);
} 

.searchbar {
	margin: 30px;
}


