.eachproduct {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid gray;
    width:50vw;
    text-align: left;
    margin: 2px;
    align-items: stretch;
    overflow: hidden;

}
.products {
    display: flex;
    flex-direction: column;
}
.products img {
    width: 200px;
    padding-right: 1em;

}

.cartTotal {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;

}
.cartTotal p {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    height: fit-content;
    
}


.checkout {
    margin: 20px;
    
    

}

.titles {
    margin: 20px;
    padding-left: 80px;
    align-content:flex-start;
   
}

.quantity {
    width: 30px;
}