.eachproduct {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid gray;
    width:50vw;
    text-align: left;
    margin: 2px;
    align-items: stretch;
    overflow: hidden;

}
.products img {
    width: 200px;
    padding-right: 1em;
}

.cartTotal {
    display: flex;
    flex-direction:column-reverse;
}
.cartTotal p {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 20px;
    margin: 20px;
    border: 1px solid gray;
    
}


.checkout {
    margin: 20px;
}